{% extends 'inventory/base.html' %}

{% block content %}

    <div class="buttion_place">
        <a href="{% url 'addnew' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> + Add Product</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Item Name</th>
            <th>Received From / Issued To</th>
            <th>Requisition No.</th>
            <th>Rate (Kes)</th>
            <th>Received</th>
            <th>Issued</th>
            <th>In Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ product.pk }}
                    </a>
                </th>
                <td>{{ product.date }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.whom }}</td>
                <td>{{ product.requisition }}</td>
                <td>{{ product.unit_price }}</td>
                <td>{{ product.received }}</td>
                <td>{{ product.issued }}</td>
                <td>{{ product.balance }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

